# Series

In [1]:
import pandas as pd

## Create a Series Object from a List
- A pandas **Series** is a one-dimensional labelled array.
- A Series combines the best features of a list and a dictionary.
- A Series maintains a single collection of ordered values (i.e. a single column of data).
- We can assign each value an identifier, which does not have to *be* unique.

In [2]:
ice_cream = ["Chocolate","Vanila","Strawberry","Rum Raisin"]
pd.Series(ice_cream)

0     Chocolate
1        Vanila
2    Strawberry
3    Rum Raisin
dtype: object

In [3]:
registration = [True, False, True, True, False]
pd.Series(registration)

0     True
1    False
2     True
3     True
4    False
dtype: bool

## Create a Series Object from a Dictionary

In [4]:
sushi = {
    "Salmon" : "Orange",
    "Tuna" : "Red",
    "Eel" : "Brown"
}
pd.Series(sushi)

Salmon    Orange
Tuna         Red
Eel        Brown
dtype: object

## Intro to Series Methods
- The syntax to invoke a method on any object is `object.method()`.
- The `sum` method adds together the **Series'** values.
- The `product` method multiplies the **Series'** values.
- The `mean` method finds the average of the **Series'** values.
- The `std` method finds the standard deviation of the **Series'** values.

In [5]:
prices = pd.Series([2.99, 3.99, 5.99, 4.99])
prices

0    2.99
1    3.99
2    5.99
3    4.99
dtype: float64

In [6]:
prices.sum()

17.96

In [7]:
prices.product().round(2)

356.59

In [8]:
prices.mean()

4.49

In [9]:
prices.std()

1.2909944487358056

## Intro to Attributes
- An **attribute** is a piece of data that lives on an object.
- An **attribute** is a fact, a detail, a characteristic of the object.
- Access an attribute with `object.attribute` syntax.
- The `size` attribute returns a count of the number of values in the **Series**.
- The `is_unique` attribute returns True if the **Series** has no duplicate values.
- The `values` and `index` attributes return the underlying objects that holds the **Series'** values and index labels.

In [10]:
adjectives = pd.Series(['Smart', 'Handsome', 'Charming', 'Smart'])
adjectives

0       Smart
1    Handsome
2    Charming
3       Smart
dtype: object

In [11]:
adjectives.size

4

In [12]:
adjectives.is_unique

False

In [13]:
adjectives.values

array(['Smart', 'Handsome', 'Charming', 'Smart'], dtype=object)

In [14]:
adjectives.index

RangeIndex(start=0, stop=4, step=1)

## Parameters and Arguments
- A **parameter** is the name for an expected input to a function/method/class instantiation.
- An **argument** is the concrete value we provide for a parameter during invocation.
- We can pass arguments either sequentially (based on parameter order) or with explicit parameter names written out.
- The first two parameters for the **Series** constructor are `data` and `index`, which represent the values and the index labels.

In [15]:
fruits = ["Apple", "Orange", "Grapes", "Watermelon", "Blueberry", "Plum"]
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Monday"]

In [16]:
pd.Series(fruits)
pd.Series(weekdays)
pd.Series(fruits, weekdays)
pd.Series(weekdays, fruits)

Apple            Monday
Orange          Tuesday
Grapes        Wednesday
Watermelon     Thursday
Blueberry        Friday
Plum             Monday
dtype: object

In [17]:
pd.Series(fruits)

0         Apple
1        Orange
2        Grapes
3    Watermelon
4     Blueberry
5          Plum
dtype: object

In [18]:
pd.Series(weekdays)

0       Monday
1      Tuesday
2    Wednesday
3     Thursday
4       Friday
5       Monday
dtype: object

In [19]:
pd.Series(fruits,weekdays)

Monday            Apple
Tuesday          Orange
Wednesday        Grapes
Thursday     Watermelon
Friday        Blueberry
Monday             Plum
dtype: object

In [20]:
a=pd.Series(weekdays,fruits)

In [21]:
a

Apple            Monday
Orange          Tuesday
Grapes        Wednesday
Watermelon     Thursday
Blueberry        Friday
Plum             Monday
dtype: object

In [22]:
pd.Series(data=fruits, index=weekdays)

Monday            Apple
Tuesday          Orange
Wednesday        Grapes
Thursday     Watermelon
Friday        Blueberry
Monday             Plum
dtype: object

## Import Series with the pd.read_csv Function
- A **CSV** is a plain text file that uses line breaks to separate rows and commas to separate row values.
- Pandas ships with many different `read_` functions for different types of files.
- The `read_csv` function accepts many different parameters. The first one specifies the file name/path.
- The `read_csv` function will import the dataset as a **DataFrame**, a 2-dimensional table.
- The `usecols` parameter accepts a list of the column(s) to import.
- The `squeeze` method converts a **DataFrame** to a **Series**.

In [23]:
pokemon = pd.read_csv("pokemon.csv", usecols=["Name"]).squeeze("columns")
pokemon

0          Bulbasaur
1            Ivysaur
2           Venusaur
3         Charmander
4         Charmeleon
            ...
1005    Iron Valiant
1006        Koraidon
1007        Miraidon
1008    Walking Wake
1009     Iron Leaves
Name: Name, Length: 1010, dtype: object

In [24]:
google = pd.read_csv("google_stock_price.csv", usecols=["Price"]).squeeze("columns")
google

0         2.490664
1         2.515820
2         2.758411
3         2.770615
4         2.614201
           ...
4788    132.080002
4789    132.998001
4790    135.570007
4791    137.050003
4792    138.429993
Name: Price, Length: 4793, dtype: float64

## The head and tail Methods
- The `head` method returns a number of rows from the top/beginning of the `Series`.
- The `tail` method returns a number of rows from the bottom/end of the `Series`.

In [25]:
pokemon = pd.read_csv("pokemon.csv")["Name"]
pokemon

0          Bulbasaur
1            Ivysaur
2           Venusaur
3         Charmander
4         Charmeleon
            ...
1005    Iron Valiant
1006        Koraidon
1007        Miraidon
1008    Walking Wake
1009     Iron Leaves
Name: Name, Length: 1010, dtype: object

In [26]:
google = pd.read_csv("google_stock_price.csv", usecols=["Price"]).squeeze("columns")
google

0         2.490664
1         2.515820
2         2.758411
3         2.770615
4         2.614201
           ...
4788    132.080002
4789    132.998001
4790    135.570007
4791    137.050003
4792    138.429993
Name: Price, Length: 4793, dtype: float64

In [27]:
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Name, dtype: object

In [28]:
pokemon.head(5)

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Name, dtype: object

In [29]:
pokemon.head(n=5)

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Name, dtype: object

In [30]:
pokemon.head(8)

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
5     Charizard
6      Squirtle
7     Wartortle
Name: Name, dtype: object

In [31]:
pokemon.head(1)

0    Bulbasaur
Name: Name, dtype: object

In [32]:
google.head()

0    2.490664
1    2.515820
2    2.758411
3    2.770615
4    2.614201
Name: Price, dtype: float64

In [33]:
google.head(5)

0    2.490664
1    2.515820
2    2.758411
3    2.770615
4    2.614201
Name: Price, dtype: float64

In [34]:
google.head(n=5)

0    2.490664
1    2.515820
2    2.758411
3    2.770615
4    2.614201
Name: Price, dtype: float64

In [35]:
google.head(7)

0    2.490664
1    2.515820
2    2.758411
3    2.770615
4    2.614201
5    2.613952
6    2.692408
Name: Price, dtype: float64

In [36]:
google.head(2)

0    2.490664
1    2.515820
Name: Price, dtype: float64

In [37]:
pokemon.tail()

1005    Iron Valiant
1006        Koraidon
1007        Miraidon
1008    Walking Wake
1009     Iron Leaves
Name: Name, dtype: object

In [38]:
pokemon.tail(8)

1002         Ting-Lu
1003          Chi-Yu
1004    Roaring Moon
1005    Iron Valiant
1006        Koraidon
1007        Miraidon
1008    Walking Wake
1009     Iron Leaves
Name: Name, dtype: object

## Passing Series to Python's Built-In Functions
- The `len` function returns the length of the **Series**.
- The `type` function returns the type of an object.
- The `list` function converts the **Series** to a list.
- The `dict` function converts the **Series** to a dictionary.
- The `sorted` function converts the **Series** to a sorted list.
- The `max` function returns the largest value in the **Series**.
- The `min` function returns the smalllest value in the **Series**.

In [39]:
google = pd.read_csv("google_stock_price.csv", usecols=["Price"])
google
pokemon = pd.read_csv("pokemon.csv", usecols=["Name"]).squeeze("columns")
pokemon

0          Bulbasaur
1            Ivysaur
2           Venusaur
3         Charmander
4         Charmeleon
            ...
1005    Iron Valiant
1006        Koraidon
1007        Miraidon
1008    Walking Wake
1009     Iron Leaves
Name: Name, Length: 1010, dtype: object

In [40]:
len(google)
len(pokemon)

1010

In [41]:
type(google)
type(pokemon)

pandas.core.series.Series

In [42]:
list(google)
sorted(google)
dict(google)
max(google)
min(google)
list(pokemon)
sorted(pokemon)
dict(pokemon)
max(pokemon)
min(pokemon)

'Abomasnow'

In [43]:
#sorted(google)
(pokemon)

0          Bulbasaur
1            Ivysaur
2           Venusaur
3         Charmander
4         Charmeleon
            ...
1005    Iron Valiant
1006        Koraidon
1007        Miraidon
1008    Walking Wake
1009     Iron Leaves
Name: Name, Length: 1010, dtype: object

In [112]:
#sorted(pokemon)

## Check for Inclusion with Python's in Keyword
- The `in` keyword checks if a value exists within an object.
- The `in` keyword will look for a value in the **Series's** index.
- Use the `index` and `values` attributes to access "nested" objects within the **Series**.
- Combine the `in` keyword with `values` to search within the **Series's** values.

In [44]:
pokemon = pd.read_csv("pokemon.csv")["Name"]
pokemon

0          Bulbasaur
1            Ivysaur
2           Venusaur
3         Charmander
4         Charmeleon
            ...
1005    Iron Valiant
1006        Koraidon
1007        Miraidon
1008    Walking Wake
1009     Iron Leaves
Name: Name, Length: 1010, dtype: object

In [45]:
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Name, dtype: object

In [46]:
"car" in "racecar"
2 in [2, 3, 5]

'Balbasaur' in pokemon
0 in pokemon
5 in pokemon.index

'Bulbasaur' in pokemon.values
'Pikachu' in pokemon.values

True

## The sort_values Method
- The `sort_values` method sorts a **Series** values in order.
- By default, pandas applies an ascending sort (smallest to largest).
- Customize the sort order with the `ascending` parameter.

In [47]:

google = pd.read_csv("google_stock_price.csv", usecols=["Price"]).squeeze("columns")
#pokemon = pd.read_csv("pokemon.csv")["Name"]

In [48]:

google.head()

0    2.490664
1    2.515820
2    2.758411
3    2.770615
4    2.614201
Name: Price, dtype: float64

In [49]:
google.sort_values()
google.sort_values(ascending=True)
google.sort_values(ascending=False)
google.sort_values(ascending=False).head(5)

4395    151.863495
4345    151.000000
4346    150.141754
4341    150.000000
4336    150.000000
Name: Price, dtype: float64

In [50]:
google.sort_values()

10        2.470490
0         2.490664
13        2.509095
11        2.514326
1         2.515820
           ...
4341    150.000000
4336    150.000000
4346    150.141754
4345    151.000000
4395    151.863495
Name: Price, Length: 4793, dtype: float64

## The sort_index Method
- The `sort_index` method sorts a **Series** by its index.
- The `sort_index` method also accepts an `ascending` parameter to set sort order.

In [51]:
google = pd.read_csv("google_stock_price.csv", index_col="Date").squeeze("columns")
google.head()

Date
2004-08-19    2.490664
2004-08-20    2.515820
2004-08-23    2.758411
2004-08-24    2.770615
2004-08-25    2.614201
Name: Price, dtype: float64

In [52]:
google.sort_index()
google.sort_index(ascending=False)
google.sort_index(ascending=False).head(5)

Date
2023-09-01    138.429993
2023-08-31    137.050003
2023-08-30    135.570007
2023-08-29    132.998001
2023-08-28    132.080002
Name: Price, dtype: float64

In [53]:
google.sort_index()
google.sort_index(ascending=False)

Date
2023-09-01    138.429993
2023-08-31    137.050003
2023-08-30    135.570007
2023-08-29    132.998001
2023-08-28    132.080002
                 ...
2004-08-25      2.614201
2004-08-24      2.770615
2004-08-23      2.758411
2004-08-20      2.515820
2004-08-19      2.490664
Name: Price, Length: 4793, dtype: float64

## Extract Series Value by Index Position
- Use the `iloc` accessor to extract a **Series** value by its index position.
- `iloc` is short for "index location".
- Python's list slicing syntaxes (slices, slices from start, slices to end, etc.) are supported with **Series** objects.

In [54]:
pokemon = pd.read_csv("pokemon.csv")["Name"]
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Name, dtype: object

In [171]:
pokemon.iloc[0]
pokemon.iloc[500]
#pokemon.iloc[1500]

pokemon.iloc[[100, 300, 500]]

#pokemon.iloc[[100, 300, 500, 1500]]

pokemon.iloc[700:-8]
pokemon.iloc[-8:]

1002         Ting-Lu
1003          Chi-Yu
1004    Roaring Moon
1005    Iron Valiant
1006        Koraidon
1007        Miraidon
1008    Walking Wake
1009     Iron Leaves
Name: Name, dtype: object

In [55]:
pokemon.iloc[-8:]

1002         Ting-Lu
1003          Chi-Yu
1004    Roaring Moon
1005    Iron Valiant
1006        Koraidon
1007        Miraidon
1008    Walking Wake
1009     Iron Leaves
Name: Name, dtype: object

## The get Method on a Series
- The `get` method extracts a **Series** value by index label. It is an alternative option to square brackets.
- The `get` method's second argument sets the fallback value to return if the label/position does not exist.

In [56]:
google = pd.read_csv("google_stock_price.csv", index_col="Date").squeeze("columns")
google

Date
2004-08-19      2.490664
2004-08-20      2.515820
2004-08-23      2.758411
2004-08-24      2.770615
2004-08-25      2.614201
                 ...
2023-08-28    132.080002
2023-08-29    132.998001
2023-08-30    135.570007
2023-08-31    137.050003
2023-09-01    138.429993
Name: Price, Length: 4793, dtype: float64

In [57]:
google.get('2004-08-19')
google.loc['2004-08-19']

google.get('2002',"not available")
google.get(['2004-08-23','2023-08-30','2002'],"Not Available any of these.")

'Not Available any of these.'

In [58]:
pokemon = pd.read_csv("pokemon.csv", index_col="Name").squeeze("columns")
pokemon

Name
Bulbasaur          Grass, Poison
Ivysaur            Grass, Poison
Venusaur           Grass, Poison
Charmander                  Fire
Charmeleon                  Fire
                      ...
Iron Valiant     Fairy, Fighting
Koraidon        Fighting, Dragon
Miraidon        Electric, Dragon
Walking Wake       Water, Dragon
Iron Leaves       Grass, Psychic
Name: Type, Length: 1010, dtype: object

In [59]:
pokemon.get(0)

C:\Users\nanda\AppData\Local\Temp\ipykernel_6680\3488640322.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  pokemon.get(0)

'Grass, Poison'

In [60]:
pokemon.get('Bulbasaur')

'Grass, Poison'

## Overwrite a Series Value
- Use the `loc/iloc` accessor to target an index label/position, then use an equal sign to provide a new value.

In [61]:
pokemon = pd.read_csv("pokemon.csv", usecols=["Name"]).squeeze("columns")
pokemon

0          Bulbasaur
1            Ivysaur
2           Venusaur
3         Charmander
4         Charmeleon
            ...
1005    Iron Valiant
1006        Koraidon
1007        Miraidon
1008    Walking Wake
1009     Iron Leaves
Name: Name, Length: 1010, dtype: object

In [62]:
pokemon.iloc[0] = "Borisaur"

In [63]:
pokemon.head()

0      Borisaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Name, dtype: object

In [64]:
pokemon.iloc[[1, 2, 3]] =["Firemon", "Flamemon", "Blazemon"]

In [65]:
pokemon.head()

0      Borisaur
1       Firemon
2      Flamemon
3      Blazemon
4    Charmeleon
Name: Name, dtype: object

In [66]:
pokemon = pd.read_csv("pokemon.csv", index_col="Name").squeeze("columns")
pokemon

Name
Bulbasaur          Grass, Poison
Ivysaur            Grass, Poison
Venusaur           Grass, Poison
Charmander                  Fire
Charmeleon                  Fire
                      ...
Iron Valiant     Fairy, Fighting
Koraidon        Fighting, Dragon
Miraidon        Electric, Dragon
Walking Wake       Water, Dragon
Iron Leaves       Grass, Psychic
Name: Type, Length: 1010, dtype: object

In [67]:
pokemon.loc["Bulbasaur"] = "Fire"

In [68]:
pokemon.head()

Name
Bulbasaur              Fire
Ivysaur       Grass, Poison
Venusaur      Grass, Poison
Charmander             Fire
Charmeleon             Fire
Name: Type, dtype: object

In [69]:
pokemon.iloc[1] = "Water"

In [70]:
pokemon.head()

Name
Bulbasaur              Fire
Ivysaur               Water
Venusaur      Grass, Poison
Charmander             Fire
Charmeleon             Fire
Name: Type, dtype: object

In [71]:
pokemon["Bulbasaur"] = "Unknown"

In [72]:
pokemon.head()

Name
Bulbasaur           Unknown
Ivysaur               Water
Venusaur      Grass, Poison
Charmander             Fire
Charmeleon             Fire
Name: Type, dtype: object

In [73]:
pokemon[1] = "some"

C:\Users\nanda\AppData\Local\Temp\ipykernel_6680\2736061346.py:1: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  pokemon[1] = "some"

In [74]:
pokemon.head()

Name
Bulbasaur           Unknown
Ivysaur                some
Venusaur      Grass, Poison
Charmander             Fire
Charmeleon             Fire
Name: Type, dtype: object

## The copy Method
- A **copy** is a duplicate/replica of an object.
- Changes to a copy do not modify the original object.
- A **view** is a different way of looking at the *same* data.
- Changes to a view *do* modify the original object.
- The `copy` method creates a copy of a pandas object.

In [75]:
pokemon_df = pd.read_csv('pokemon.csv', usecols=["Name"])
pokemon_series = pokemon_df.squeeze("columns")

In [76]:
pokemon_df

              Name
0        Bulbasaur
1          Ivysaur
2         Venusaur
3       Charmander
4       Charmeleon
...            ...
1005  Iron Valiant
1006      Koraidon
1007      Miraidon
1008  Walking Wake
1009   Iron Leaves

[1010 rows x 1 columns]

In [77]:
pokemon_series

0          Bulbasaur
1            Ivysaur
2           Venusaur
3         Charmander
4         Charmeleon
            ...
1005    Iron Valiant
1006        Koraidon
1007        Miraidon
1008    Walking Wake
1009     Iron Leaves
Name: Name, Length: 1010, dtype: object

In [78]:
pokemon_series[0] = "change"

In [79]:
pokemon_series.head(2)

0     change
1    Ivysaur
Name: Name, dtype: object

In [80]:
pokemon_df.head(3)

       Name
0    change
1   Ivysaur
2  Venusaur

In [81]:
pokemon_df = pd.read_csv('pokemon.csv', usecols=["Name"])
pokemon_series = pokemon_df.squeeze("columns").copy()

In [82]:
pokemon_series[0] = "Unchanges"

In [83]:
pokemon_series

0          Unchanges
1            Ivysaur
2           Venusaur
3         Charmander
4         Charmeleon
            ...
1005    Iron Valiant
1006        Koraidon
1007        Miraidon
1008    Walking Wake
1009     Iron Leaves
Name: Name, Length: 1010, dtype: object

In [84]:
pokemon_df

              Name
0        Bulbasaur
1          Ivysaur
2         Venusaur
3       Charmander
4       Charmeleon
...            ...
1005  Iron Valiant
1006      Koraidon
1007      Miraidon
1008  Walking Wake
1009   Iron Leaves

[1010 rows x 1 columns]

## Math Methods on Series Objects
- The `count` method returns the number of values in the **Series**. It excludes missing values; the `size` attribute includes missing values.
- The `sum` method adds together the **Series's** values.
- The `product` method multiplies together the **Series's** values.
- The `mean` method calculates the average of the **Series's** values.
- The `std` method calculates the standard deviation of the **Series's** values.
- The `max` method returns the largest value in the **Series**.
- The `min` method returns the smallest value in the **Series**.
- The `median` method returns the median of the **Series** (the value in the middle).
- The `mode` method returns the mode of the **Series** (the most frequent alue).
- The `describe` method returns a summary with various mathematical calculations.

In [85]:
pokemon = pd.read_csv('pokemon.csv', usecols=["Name"]).squeeze("columns")
pokemon
google = pd.read_csv('google_stock_price.csv', usecols=["Price"]).squeeze("columns")
google

0         2.490664
1         2.515820
2         2.758411
3         2.770615
4         2.614201
           ...
4788    132.080002
4789    132.998001
4790    135.570007
4791    137.050003
4792    138.429993
Name: Price, Length: 4793, dtype: float64

In [86]:
google.count()
google.size

4793

In [87]:
google.sum()

192733.129338

In [88]:
google.product()
pd.Series([2, 4, 5, 9]).product()

C:\Users\nanda\anaconda3\Lib\site-packages\numpy\core\_methods.py:53: RuntimeWarning: overflow encountered in reduce
  return umr_prod(a, axis, dtype, out, keepdims, initial, where)

360

In [89]:
google.mean()

40.211376870018775

In [90]:
google.std()

37.27475294386811

In [91]:
google.min()

2.47049

In [39]:
google.max()

151.863495

In [40]:
google.median()

26.327717

In [92]:
google.mode()
#a = pd.Series([2, 2, 2, 3, 4, 4, 1])
#a.value_counts( ascending=True)

0    14.719826
1    49.000000
Name: Price, dtype: float64

In [93]:
google.describe()

count    4793.000000
mean       40.211377
std        37.274753
min         2.470490
25%        12.767395
50%        26.327717
75%        56.311001
max       151.863495
Name: Price, dtype: float64

## Broadcasting
- **Broadcasting** describes the process of applying an arithmetic operation to an array (i.e., a **Series**).
- We can combine mathematical operators with a **Series** to apply the mathematical operation to every value.
- There are also methods to accomplish the same results (`add`, `sub`, `mul`, `div`, etc.)

In [94]:
google = pd.read_csv('google_stock_price.csv', usecols=["Price"]).squeeze("columns")
google

0         2.490664
1         2.515820
2         2.758411
3         2.770615
4         2.614201
           ...
4788    132.080002
4789    132.998001
4790    135.570007
4791    137.050003
4792    138.429993
Name: Price, Length: 4793, dtype: float64

In [95]:
google.add(10)

google + 10

0        12.490664
1        12.515820
2        12.758411
3        12.770615
4        12.614201
           ...
4788    142.080002
4789    142.998001
4790    145.570007
4791    147.050003
4792    148.429993
Name: Price, Length: 4793, dtype: float64

In [96]:
google.sub(1)

google - 1

0         1.490664
1         1.515820
2         1.758411
3         1.770615
4         1.614201
           ...
4788    131.080002
4789    131.998001
4790    134.570007
4791    136.050003
4792    137.429993
Name: Price, Length: 4793, dtype: float64

In [97]:
google.mul(1.5)

google * 1.5

0         3.735996
1         3.773730
2         4.137617
3         4.155922
4         3.921302
           ...
4788    198.120003
4789    199.497001
4790    203.355010
4791    205.575005
4792    207.644990
Name: Price, Length: 4793, dtype: float64

In [98]:
google.div(2)

google / 2

0        1.245332
1        1.257910
2        1.379206
3        1.385307
4        1.307100
          ...
4788    66.040001
4789    66.499000
4790    67.785004
4791    68.525002
4792    69.214996
Name: Price, Length: 4793, dtype: float64

## The value_counts Method
- The `value_counts` method returns the number of times each unique value occurs in the **Series**.
- The `normalize` parameter returns the relative frequencies/percentages of the values instead of the counts.

In [99]:
pokemon = pd.read_csv('pokemon.csv', index_col= "Name").squeeze("columns")
pokemon

Name
Bulbasaur          Grass, Poison
Ivysaur            Grass, Poison
Venusaur           Grass, Poison
Charmander                  Fire
Charmeleon                  Fire
                      ...
Iron Valiant     Fairy, Fighting
Koraidon        Fighting, Dragon
Miraidon        Electric, Dragon
Walking Wake       Water, Dragon
Iron Leaves       Grass, Psychic
Name: Type, Length: 1010, dtype: object

In [100]:
pokemon.value_counts()
pokemon.value_counts(ascending=True)
pokemon.value_counts(normalize=True,ascending=True).mul(100)

Type
Ice, Ghost          0.099010
Fire, Water         0.099010
Fighting, Flying    0.099010
Normal, Ground      0.099010
Dragon, Electric    0.099010
                      ...
Fire                3.564356
Psychic             3.861386
Grass               4.554455
Normal              7.326733
Water               7.326733
Name: proportion, Length: 200, dtype: float64

In [101]:
pokemon.value_counts(ascending=True).head(3)

Type
Ice, Ghost          1
Fire, Water         1
Fighting, Flying    1
Name: count, dtype: int64

## The apply Method
- The `apply` method accepts a function. It invokes that function on every `Series` value.

In [102]:
pokemon = pd.read_csv("pokemon.csv", usecols=["Name"]).squeeze("columns")
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Name, dtype: object

In [103]:
pokemon.apply(len)

0        9
1        7
2        8
3       10
4       10
        ..
1005    12
1006     8
1007     8
1008    12
1009    11
Name: Name, Length: 1010, dtype: int64

In [104]:
def count_of_a(po):
    return po.count("a")
pokemon.apply(count_of_a)

0       2
1       1
2       1
3       2
4       1
       ..
1005    2
1006    1
1007    1
1008    2
1009    1
Name: Name, Length: 1010, dtype: int64

## The map Method
- The `map` method "maps" or connects each **Series** values to another value.
- We can pass the method a dictionary or a **Series**. Both types connects keys to values.
- The `map` method uses our argument to connect or bridge together the values.

In [105]:
pokemon = pd.read_csv('pokemon.csv', index_col="Name").squeeze("columns")
pokemon

Name
Bulbasaur          Grass, Poison
Ivysaur            Grass, Poison
Venusaur           Grass, Poison
Charmander                  Fire
Charmeleon                  Fire
                      ...
Iron Valiant     Fairy, Fighting
Koraidon        Fighting, Dragon
Miraidon        Electric, Dragon
Walking Wake       Water, Dragon
Iron Leaves       Grass, Psychic
Name: Type, Length: 1010, dtype: object

In [106]:
attack_power = { 
    "Grass" : 10,
    "Fire" : 15,
    "Water" : 20,
    "Fairy, Fighting" : 35,
    "Electric, Dragon" : 55
}

attack_power = pd.Series({ 
    "Grass" : 10,
    "Fire" : 15,
    "Water" : 20,
    "Fairy, Fighting" : 35,
    "Electric, Dragon" : 55
})

In [107]:
pokemon.map(attack_power)

Name
Bulbasaur        NaN
Ivysaur          NaN
Venusaur         NaN
Charmander      15.0
Charmeleon      15.0
                ...
Iron Valiant    35.0
Koraidon         NaN
Miraidon        55.0
Walking Wake     NaN
Iron Leaves      NaN
Name: Type, Length: 1010, dtype: float64